    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0">
        &copy; Copyright {{ site.time | date: '%Y' }} {% if site.translations[site.lang].main.first_name %}{{ site.translations[site.lang].main.first_name }}{% endif %}{% if site.translations[site.lang].main.middle_name %} {{ site.translations[site.lang].main.middle_name }}{% endif %}{% if site.translations[site.lang].main.last_name %} {{ site.translations[site.lang].main.last_name }}{% endif %}. {% t main.footer_text %}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        &copy; Copyright {{ site.time | date: '%Y' }} {% if site.translations[site.lang].main.first_name %}{{ site.translations[site.lang].main.first_name }}{% endif %}{% if site.translations[site.lang].main.middle_name %} {{ site.translations[site.lang].main.middle_name }}{% endif %}{% if site.translations[site.lang].main.last_name %} {{ site.translations[site.lang].main.last_name }}{% endif %}. {% t main.footer_text %}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- endif %}
